################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OffsetsHelper/bin/Debug/net10.0
/OffsetsHelper/obj
/.vs/BIkuidaHelper.slnx/v18
/.vs/OffsetsHelper.slnx/FileContentIndex
